/*
Name: Default style
*/

/*

Copyright 2013-2013 GavickPro (info@gavick.com)

this program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License, version 2, as 
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA

*/

.gk-tabs {
    position: relative;
}

/*
 * Default style
 */
.default-style .gk-tabs-wrap {
    border: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.default-style .gk-tabs-wrap > ol {
    margin: 0!important;
    min-height: 38px;
}

.default-style.gk-tabs-top .gk-tabs-wrap > ol {
    border-bottom: 1px solid #e5e5e5;
}

.default-style.gk-tabs-bottom .gk-tabs-wrap > ol {
    border-top: 1px solid #e5e5e5;
}

.default-style .gk-tabs-wrap > ol li {
    background: transparent;
    border: none;
    color: #858585;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 39px;
    list-style-type: none;
    margin: 0 0 0 -1px;
    height: 38px;
    padding: 0 15px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: color .3s ease-out, background .3s ease-out;
    -moz-transition: color .3s ease-out, background .3s ease-out;
    -ms-transition: color .3s ease-out, background .3s ease-out;
    -o-transition: color .3s ease-out, background .3s ease-out;
    transition: color .3s ease-out, background .3s ease-out;
}

.default-style .gk-tabs-wrap > ol li.active,
.default-style .gk-tabs-wrap > ol li.active:hover {
    background: #fff;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    color: #2f3336;
    padding: 0 14px;
    position: relative;
}

.default-style.gk-tabs-top .gk-tabs-wrap > ol li.active:after,
.default-style.gk-tabs-bottom .gk-tabs-wrap > ol li.active:before {
    background: #fff;
    content: "";
    clear: both;
    display: block;
    float: left;
    height: 2px;
    margin-left: -14px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.default-style.gk-tabs-top .gk-tabs-wrap > ol li.active:after {
    top: 38px;
}

.default-style.gk-tabs-bottom .gk-tabs-wrap > ol li.active:before {
    top: -1px;
}

.default-style .gk-tabs-wrap > ol li:hover {
    color: #2f3336;
}

.default-style .gk-tabs-container {
    background: #fff;
    clear: both;
    overflow: hidden;
    position: relative;
}

.default-style .gk-tabs-item {
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 30px 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.default-style .gk-tabs-item .box {
    margin-bottom: 0!important;
}

.default-style .gk-tabs-item.active {
    left: 0;
    position: relative;
    z-index: 2;
}

.default-style .gk-tabs-prev,
.default-style .gk-tabs-next {
    background: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #858585;
    cursor: pointer;
    display: block;
    height: 24px;
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
    left: -13px;
    line-height: 23px;
    margin-top: -13px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    width: 24px;
    z-index: 10;
}

.default-style.gk-tabs-bottom .gk-tabs-prev,
.default-style.gk-tabs-bottom .gk-tabs-next {
    margin-top: -34px;
 /* -13 - (0.5 * tab height) */
}

.default-style .gk-tabs-next {
    left: auto;
    right: -13px;
}

.default-style .gk-tabs-prev:hover,
.default-style .gk-tabs-next:hover {
    color: #2f3336;
}

/* Mobile devices */
@media (max-width: 600px) {
    .default-style .gk-tabs-wrap > ol.gk-tabs-nav > li,
	.default-style .gk-tabs-wrap > ol.gk-tabs-nav > li.active, 
	.default-style .gk-tabs-wrap > ol.gk-tabs-nav > li.active:hover {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #e5e5e5!important;
        border-right: none!important;
        border-top: none!important;
        width: 100%;
    }

    .default-style .gk-tabs-prev,
	.default-style .gk-tabs-next {
        display: none;
    }
}

/**
 *
 * The common part
 *
 **/

/* Errors */
.gk-tabs-error {
    color: #555;
    font-size: 16px;
    padding: 32px 16px;
    text-align: center;
}

.gk-tabs-error > strong {
    color: #d44;
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
}

.gk-tabs-error > small {
    font-size: 11px;
}
/* Animations */
.gk-tabs-item {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.gk-tabs-item.active {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    z-index: 2;
}

.gk-tabs[data-anim="scale-up"] .gk-tabs-item {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.gk-tabs[data-anim="scale-down"] .gk-tabs-item {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
}

.gk-tabs[data-anim="rotate-y"],
.gk-tabs[data-anim="rotate-x"] {
    -webkit-perspective: 1200;
    -moz-perspective: 1200;
    -ms-perspective: 1200;
    perspective: 1200;
}

.gk-tabs[data-anim="rotate-y"] .gk-tabs-item {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}


.gk-tabs[data-anim="rotate-x"] .gk-tabs-item {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.gk-tabs[data-anim="scale-up"] .gk-tabs-item.active,
.gk-tabs[data-anim="scale-down"] .gk-tabs-item.active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.gk-tabs[data-anim="rotate-y"] .gk-tabs-item.active {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.gk-tabs[data-anim="rotate-x"] .gk-tabs-item.active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}